@import url('https://fons.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');


ul{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 list-style-type: none;
 padding: 0;
}

li a{
  height: 22.5rem;
  width: 20rem;
  border:1px solid whitesmoke;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #1797ff;
  font-weight: 600;
}

li hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem, 1rem;
  position: relative;
  height: 7rem;
}

.favorite{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color :#e72929;
}

.favorite.not{
  color: black;
}

.star{
  margin-bottom: 0.2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0, 0.5rem;
  margin-top: 0.2rem;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ul-social{
  position: relative;
  display: flex;
  gap: 25px
}

.ul-social li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.ul-social li:hover{
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.ul-social li::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;

}
.ul-social li:hover::before{
  opacity: 1;
}
.ul-social li::after{
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
  filter: blur(15px);
}
.ul-social li::after{
  opacity: 0.5;
}
.ul-social li i{
  color: #777;
  font-size:  1.75em !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.ul-social li:hover i{
  transform: scale(0);
  font-size: 1.75em;
  transition-delay: 0.25s;
}
.ul-social li span{
  position: absolute;
}
.ul-social li .titulo{
  color: #fff;
  font-size: 1.1em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}
.ul-social li:hover .titulo{
  transform: scale(1);
  transition-delay: 0.25s;
}
