<app-loading></app-loading>
<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!furnitures || !furnitures.length"
  resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let furniture of furnitures"
  ><a routerLink="/furniture/{{furniture.id}}" style="border-radius: 10px;">
      <img [src]="furniture.imageUrl" [alt]="furniture.name"/>
      <div class="content">
      <div class="name" style="margin-left: 5px;">
        {{furniture.name}}
      </div>
      <span class="favorite {{furniture.favorite?'':'not'}}">
        ❤
      </span>
    <div class="stars" style="margin-left: 5px;">
   <star-rating [stars]="furniture.stars"></star-rating>
    </div>
    <div class="product-item-footer" style="margin-left: 5px;">
      <div class="origins">
        <span *ngFor="let origin of furniture.origins">
          {{origin}}
        </span>
      </div>
    </div>
    <div class="price">
      <span>
        ฿{{furniture.price }}.00
      </span>
    </div>
    </div>
  </a>
</li>
</ul>

