<div class="drawer">
  <div class="drawer-content mx-4">
    <div class="flex p-4 justify-between">
      <div class="text-3xl font-bold">Product</div>
      <div>
        <button routerLink="/admin/products/create" class="btn btn-neutral">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </button>
      </div>
    </div>
    <app-table [headers]="['name','image','price','quantity','star','createdAt','']">
      @for (furniture of furnitures; track $index ) {
        <tr>
          <th>{{ furniture.name }}</th>
          <td>
              <img [src]="furniture.imageUrl" class="w-24">
          </td>
          <td>{{ furniture.price }} ฿</td>
          <td>{{ furniture.remainQuantity }}</td>
          <td>
              <div class="badge" [class]="furniture.stars > '3' ? 'badge-success' : 'badge-error'">
                  {{ furniture.stars }}
              </div>
          </td>
          <td>{{ furniture.createdAt }}</td>
          <td>
              <div class="flex gap-2">
                  <button routerLink="product/edit" class="btn btn-ghost">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
                    </svg>
                  </button>
                  <div (click)="removeProduct($index)" class="btn btn-ghost">
                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                  </div>

              </div>
          </td>
      </tr>
      }

    </app-table>
  </div>
  <app-sidebar></app-sidebar>
</div>
