.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.container > *{
  min-width: 25rem;
  max-width: 40rem;
}

img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 35rem;
  margin: 1rem;
}

.detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;

  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.header{
  display: flex;
  justify-content: space-between;
}

.name{
  font-size: 2rem;
  font-weight: bold;
}

.favorite{
  color: #e72929;
  font-size: 2.5rem;
}

.favorite.not{
  color: grey;
}

.origins{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins span{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  background-color: aliceblue;
}

.tags{
  display: flex;
  flex-wrap: wrap;

}
.tags a{
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  color: blue;
}

.price{
  font-size: 1.8rem;
  margin: 2rem 2rem;
  color: green;
}

.price::before{
  content:"Price:";
  color: blue;
}


button
{
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}
