<header>
  <div class="container">
 <a  routerLink="/" class="logo text-lg">HOMELAND
 </a>
 <nav>
  <ul>
    <li>
      <a *ngIf="!isAuth" routerLink="/login">Login</a>
    </li>
    <li *ngIf="isAuth" class="menu-container">
      <a class="text-lg">{{user.name}}</a>
    <div class="menu">
      <a >Profile</a>
      <a >Service</a>
      <a >Contact</a>
      <a (click)="logout()">Logout</a>
    </div>
  </li>
  <li>
    <a class="text-lg" routerLink="/cart-page">
      Cart <span> {{cartQuantity}} </span></a>
  </li>
  </ul>
 </nav>
  </div>
</header>
