header{
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #1797ff;
}

a{
  color: #1a2cce;
}

a:hover{
  background:#1797ff;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }

  @media screen and (min-width: 1800px) {
    max-width: 1800px;
  }


  @media screen and (min-width: 2500px) {
    max-width: 2500px;
  }

}

a.logo{
  font-weight: bolder;
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span{
  background: #1606f7;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 0.9rem;
  font-size: 0.9rem;

}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index: 1;
  font-size: 1rem;
  background: whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 8rem;
}


