<p-toast></p-toast>
<div class="wrapper">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <input type="text" formControlName="email" placeholder="Email"  name="" required="">


      <div class="error-list" style="color: red;" *ngIf="fc.email.errors && isSubmitted">
        <div *ngIf="fc.email.errors.required">*Should not be empty</div>
        <div *ngIf="fc.email.errors.email">Email is not correct</div>
      </div>


      <input style="margin-top: 10px;" placeholder="Password"  type="password" formControlName="password" name="" required="">
    <div class="error-list" style="color: red;" *ngIf="fc.password.errors && isSubmitted">
      <div *ngIf="fc.password.errors.required">*Should not be empty</div>
    </div>
    <div class="recover">
      <a href="">Forgot Password?</a>
    </div>
  <div>
    <p-button styleClass="custom-button" type="submit" label="Submit" [rounded]="true"></p-button>
  </div>
  <div  class="member">
    Not a member?
    <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}" style="margin-top: 15px; ">
    Register here
    </a>

  </div>

  </form>
</div>
