<div class="wrapper">
  <h1>Sign Up</h1>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">

    <input
    placeholder="Username"
      formControlName="name"
      type="text"
      id="username"
      name="username"
      required
    />

    <div class="error-list" *ngIf="fc.name.errors && isSubmitted">
      <div *ngIf="fc.name.errors.required">Should not be empty</div>
    </div>


    <input
    placeholder="Email"
      formControlName="email"
      type="email"
      id="email"
      name="email"
      required
    />

    <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
      <div *ngIf="fc.email.errors.required">Should not be empty</div>
      <div *ngIf="fc.email.errors.email">Email is not correct</div>
    </div>



    <input
    placeholder="Password"
      formControlName="password"
      type="password"
      id="password"
      name="password"
      required
    />

    <input
    placeholder="Re-Enter Password"
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />

    <div>
      <textarea style="background: #e4e4e4; border: 1px solid #fff;" placeholder="Address"  formControlName="address"
      type="text"
      id="address"
      name="address" rows="5" cols="24" pInputTextarea [autoResize]="true"></textarea>
    </div>

    <div>
      <button  class="text-white font-bold py-2 hover:bg-blue-600 bg-blue-500  px-4 rounded focus:outline-none focus:shadow-outline" type="submit" style=" margin-top: 0.5rem;" label="Submit">submit</button>
    </div>
    <div  class="member">
      Already a member?
      <a routerLink="/login" [queryParams]="{returnUrl : returnUrl}" style="margin-top: 15px; ">
      Login here
      </a>

    </div>

  </form>
</div>

