<p-toast></p-toast>
<app-header></app-header>
<div class="containers">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>
    <form [formGroup]="checkoutForm">
      <div class="row">
        <div class="col-12">
          <input
            style="font-weight: bold; width: 100%;"
            pInputText
            formControlName="name"
            label="Name"
            type="text"
          />
        </div>
        <div class="col-12" style="margin-top: 10px">
          <input
            style="font-weight: bold; width: 100%;"
            pInputText
            formControlName="address"
            label="Address"
            type="text"
          />
        </div>
      </div>
    </form>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="map">
    <app-title title="Choose Your Address On Map" fontSize="1.6rem"></app-title>
    <map [order]="order"></map>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">
        Go To Payment
      </button>
    </div>
  </div>
</div>
